<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Raspberry Pi Stats</title>
    <style>
        html {
            height: 100%;
        }
        body {
            background: rgb(65,65,65);
            background: linear-gradient(156deg, rgba(65,65,65,1) 24%, rgba(0,0,0,1) 90%);
        }
        .nav {
            background-color: #26292C;
            color: #7A7B7F;
        }
        .container {
            color: #959595;
        }
    </style>
</head>
<body>
    <div class="nav">
        <h2 class="font-weight-bold mt-3 ml-5">RASPBERRY PI STATISTICS</h2>
        <hr style="color: #E23E57;" class="mb-5"/>
    </div>
    
    <div class="container mt-5">
        <div class="row">
          <div class="col-lg-3 col-md-12">
            <h4 style="text-align: center;">CPU Usage</h4><br>
            <ul style="list-style: none;">
                {% for stat in cpu %}
                    <li >[{{stat[0]}}] {{stat[1]}}%</li>
                {% endfor %}
            </ul>
          </div>
      
          <div class="col-lg-3 col-md-6">
            <h4 style="text-align: center;">Memory Usage</h4><br>
            <ul style="list-style: none;">
                {% for stat in memory %}
                    <li >[{{stat[0]}}] {{stat[1]}}%</li>
                {% endfor %}
            </ul>
          </div>
      
          <div class="col-lg-3 col-md-6">
            <h4 style="text-align: center;">Temperature</h4><br>
            <ul style="list-style: none;">
                {% for stat in temp %}
                    <li >[{{stat[0]}}] {{stat[1]}}</li>
                {% endfor %}
            </ul>
          </div>

          <div class="col-lg-3 col-md-6">
            <h4 style="text-align: center;">Disk Usage ('/')</h4><br>
            <ul style="list-style: none;">
                {% for stat in disk %}
                    <li >[{{stat[0]}}] {{stat[1]}}%</li>
                {% endfor %}
            </ul>
          </div>
        </div>
    </div>

</body>
</html>
